# Importar Pandas

In [7]:
#importa pandas
import pandas as pd

# Crear una Serie

In [9]:
# Crea una Serie de los numeros 10, 20 and 10.
Serie1 = pd.Series([10,20,10])
Serie1

0    10
1    20
2    10
dtype: int64

In [16]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'

Serie2 = pd.Series(['rojo','verde','azul'])
Serie2

0     rojo
1    verde
2     azul
dtype: object

# Crear un Dataframe

In [18]:
# Crea un dataframe vacío llamado 'df'
dicx= {}
df = pd.DataFrame(dicx)
df

Empty DataFrame
Columns: []
Index: []

In [21]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado
dicx['Serie 1'] = Serie1
df = pd.DataFrame(dicx)
df

   Serie 1
0       10
1       20
2       10

In [22]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado
dicx['Serie 1'] = Serie1
dicx['Serie 2'] = Serie2
df = pd.DataFrame(dicx)
df

   Serie 1 Serie 2
0       10    rojo
1       20   verde
2       10    azul

# Leer un dataframe

In [1]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv
df = pd.read_csv('./data/avengers.csv')

NameError: name 'pd' is not defined

# Inspeccionar un dataframe

In [3]:
# Muestra las primeras 5 filas del DataFrame.

In [5]:
# Muestra las primeras 10 filas del DataFrame.

In [6]:
# Muestra las últimas 5 filas del DataFrame.

# Tamaño del DataFrame

In [7]:
# Muestra el tamaño del DataFrame

# Data types en un DataFrame

In [8]:
# Muestra los data types del dataframe

# Editar el indice (index)

In [9]:
# Cambia el indice a la columna "fecha_inicio".

# Ordenar el indice

In [10]:
# Ordena el índice de forma descendiente

# Resetear el indice

In [11]:
# Resetea el índice